.home,
.create-acount,
.log-in,
.profile,
.add-children,
.edit,
.new-task,
header {
    color: rgb(32, 32, 32);
    margin: auto;
}

nav {
    padding: 20px;
    text-align: center;
}

.parent-view {
    border-radius: 30px;
    background-color: #facf58;
    padding: 15px;
    margin: auto;
    text-align: center;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.profile {
    border-radius: 30px;
    background-color: #ACCC5F;
    padding: 15px;
    margin: auto;
    text-align: center;
    width: 50%;
}

.child-view {
    background-color: #84a1c8;
    border-radius: 30px;
    padding: 15px;
    margin: auto;
    text-align: center;
    width: 50%;
}

div.home-page {
    background-color: #ffcb6a;
    padding: 50px;
    margin: auto;
    text-align: center;
    width: 50%;
}

div.container {
    border-radius: 30px;
    background-color: #ffcb6a;
    padding: 30px;
    padding-bottom: 40px;
    margin: auto;
    text-align: center;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

div.new-task {
    background-color: #ffcb6a;
    border-radius: 30px;
    margin: auto;
    text-align: center;
    width: 50%;
}

div.new-task-child {
    background-color: #9cafc9;
    border-radius: 30px;
    margin: auto;
    text-align: center;
    width: 50%;
}

h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    margin: auto;
    font-family: 'Coiny';
    font-size: 40px;
    text-align: center;
    color: rgb(32, 32, 32);
}

h2 {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: auto;
    color: rgb(32, 32, 32);
}

h3 {
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Coiny';
    font-size: 30px;
    margin: auto;
    color: rgb(32, 32, 32);
}

h4 {
    font-family: 'Coiny';
    font-size: 20px;
    margin: auto;
    color: rgb(32, 32, 32);
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(32, 32, 32);
    margin: 10px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(32, 32, 32);
}

a {
    margin: auto;
    font-family: 'Coiny';
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

a.navigation {
    color: #7da520;
}

a.navigation:hover {
    background-color: white;
    color: #698822;
}

.center {
    display: center;
    justify-content: center;
    align-items: center;
}

button {
    width: 19vw;
    text-align: center;
    border-radius: 15px;
    background-color: #ACCC5F;
    color: #000000;
    border: none;
    margin: 10px;
    font-family: 'Coiny';
    font-size: 20px;
}

button a {
    display: inline-block;
    width: 90%;
    height: 100%;
    color: #698822;
    text-decoration: none;
}

button:hover,
button a:hover {
    background-color: #7da520;
    color: rgb(32, 32, 32);
    cursor: pointer;
}

.complete {
    margin-top: 0;
}

input.btn.delete-btn {
    background-color: #cc5f5f;
    color: rgb(32, 32, 32);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    font-family: 'Coiny';
    font-size: 15px;
    width: 20%;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 50%;
    padding: 15px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #fff !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input.btn {
    background-color: #ACCC5F;
    border: none;
    font-family: 'Coiny';
    font-size: 20px;
}

input.btn:hover {
    background-color: #698822;
    cursor: pointer;
}

input.btn.delete-btn {
    background-color: #cc5f5f;
    color: rgb(32, 32, 32);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    font-family: 'Coiny';
    font-size: 15px;
    width: 20%;
}

.checkbox input {
    height: 25px;
    width: 25px;
}

input:checked {
    height: 25px;
    width: 25px;
}

.completed {
    height: 25px;
    width: 25px;
}

div {
    border-radius: 30px;
    background-color: white;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

div.home-page-text {
    background-color: white;
    padding: 50px;
    margin: 0;
}

div.item-grid {
    padding: 5%;
}

div.to-do-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15px;
    background-color: #ffe6a1;
}

div.to-do-list-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15px;
    background-color: #9cafc9;
}

div.logged-tasks {
    background-color: #ffe6a1;
}

div.logs-child {
    background-color: #9cafc9;
}

div.to-do {
    background-color: #ffe6a1;
}

div.to-do-child {
    background-color: #9cafc9;
}

div.done {
    background-color: #ffe6a1;
}

div.done-child {
    background-color: #9cafc9;
}

div.child-logs {
    background-color: aliceblue;
}

div.logs {
    background-color: #ffe6a1;
}

div.button {
    margin: 15px;
    align-content: center;
    align-items: center;
}

div.flex-container {
    padding: 15px;
    background-color: #cc5f5f;
    grid-auto-flow: column;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

div.flex-container-log {
    padding: 15px;
    background-color: #84a1c8;
    grid-auto-flow: column;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

div.checkbox {
    padding: 0;
    text-align: left;
}

div.task-list {
    padding: 20px;
    background-color: #cc5f5f;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
}

ul {
    text-align: center;
    list-style: inside;
    margin: 0;
    padding: 0;
}

.center {
    align-content: center;
}

.logout {
    background-color: #ffe6a1;
    border: none;
    font-family: 'Coiny';
    font-size: 20px;
}

.logout:hover {
    color: #cc5f5f;
    cursor: pointer;
}

.children-list {
    background-color: white;
}

div.confirm-complete {
    background-color: #cc5f5f;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.confirm-complete h3 {
    margin: 0;
    padding: 0;
}

.edit-container div {
    margin: 0;
}

.dino-button {
    color: #698822;
    padding: 10px;
}

.settings {
    margin-top: 0;
    padding-top: 0;
}