.home-page,
.create-acount,
.log-in,
.profile,
.add-children,
.edit,
header {
    color: rgb(32, 32, 32);
    margin: auto;
}

nav {
    padding: 20px;
    text-align: center;
}

h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    font-family: 'Coiny';
    font-size: 40px;
    text-align: center;
    color: rgb(32, 32, 32);
}

h2 {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: auto;
    color: rgb(32, 32, 32);
}

h3 {
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Coiny';
    font-size: 30px;
    margin: auto;
    color: rgb(32, 32, 32);
}

h4 {
    padding-top: 10px;
    font-family: 'Coiny';
    font-size: 20px;
    margin: auto;
    color: rgb(32, 32, 32);
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(32, 32, 32);
}

a {
    margin: auto;
    font-family: 'Coiny';
    font-size: 20px;
    text-align: center;
    color: #7da520;
    text-decoration: none;
    padding: 10px;
}

a.btn {
    background-color: #ACCC5F;
    color: rgb(32, 32, 32);
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    border: none;
    font-family: 'Coiny';
    font-size: 20px;
}

.center {
    display: center;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #ACCC5F;
    color: rgb(32, 32, 32);
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    font-family: 'Coiny';
    font-size: 20px;
}

button:hover {
    background-color: #7da520;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 50%;
    padding: 15px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
}

input.btn {
    background-color: #ACCC5F;
    border: none;
    font-family: 'Coiny';
    font-size: 20px;
}

input.btn.delete-btn{
    background-color: #cc5f5f;
    color: rgb(32, 32, 32);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    font-family: 'Coiny';
    font-size: 15px;
    width: 20%;
}


div {
    border-radius: 30px;
    background-color: #ffe6a1;
    padding: 15px;
    margin: auto;
    text-align: center;
    width: 60%;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
}

ul {
    text-align: center;
    list-style: inside;
    margin: 0;
    padding: 0;
}

.to-do-list {
    display: flex;
    width: 100%;
    padding: 0;
}

.one-child {
    background-color: #ffe6a1;
    margin-bottom: 50px;
}